.grid-node {
    width: 30px;
    height: 30px;
    border: 1px solid #2528316a;
}

.wall-node {
    background-color: #252831;
    animation-name: wallNode;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.source-node {
    background-color: #3a8755;
}

.destination-node {
    background-color: #b04a4a;
}

.visualized-node {
    background-color: #ef7110;
    animation-name: visualizedNode;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

@keyframes wallNode {
    from {
        transform: scale(1.5) rotate(180deg);
    }

    to {
        transform: scale(1) rotate(0deg);
    }
}

@keyframes visualizedNode {
    0% {
        transform: scale(1.5)
    }

    50% {
        transform: scale(0.8)
    }

    100% {
        transform: scale(1);
    }
}