.grid-node {
    width: 27px;
    height: 27px;
    border: 1px solid #15171c6a;
}

.wall-node {
    background-color: #15171c;
    animation-name: wallNode;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}

.source-node {
    background-color: #644e5b;
}

.destination-node {
    background-color: #c96567;
}

.visualized-node {
    background-color: #f3c069;
    animation-name: visualizedNode;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
}

.visited-node {
    background-color: #314455;
    animation-name: visitedNode;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

@keyframes wallNode {
    0% {
        transform: scale(1.5);
    }

    50% {
        transform: scale(0.8)
    }

    100% {
        transform: scale(1);
      
    }
}

@keyframes visualizedNode {
    0% {
        transform: scale(1.5);
        background-color: #f3c069;
    }

    50% {
        transform: scale(0.8);
        background-color: #f2e359;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes visitedNode {
    0% {
        transform: scale(1.5);
        border-radius: 100%;
        background-color: #314455;
    }

    10% {
        transform: scale(0.8);
        background-color: #97aabd;
    }

    85% {
        background-color: #644e5b;
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 1480px) {
    .grid-node {
        width: 23px;
        height: 23px;
    }
}


@media screen and (max-width: 1180px) {
    .grid-node {
        width: 18px;
        height: 18px;
    }   
}


@media screen and (max-width: 980px) {
    .grid-node {
        width: 11px;
        height: 11px;
    }
}

@media screen and (max-width: 580px) {
    .grid-node {
        width: 7px;
        height: 7px;
    }
}