.grid-node {
    width: 30px;
    height: 30px;
    border: 1px solid #2528316a;
}

.wall-node {
    background-color: #252831;
    animation-name: wallNode;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.source-node {
    background-color: #5cc9cb;
}

.destination-node {
    background-color: #0f8b6a;
}

.visualized-node {
    background-color: #f3c069;
    animation-name: visualizedNode;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
}

.visited-node {
    background-color: #3e5d72;
    animation-name: visitedNode;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

@keyframes wallNode {
    from {
        transform: scale(1.5) rotate(180deg);
        background-color: rgb(147, 147, 147);
    }

    to {
        transform: scale(1) rotate(0deg);
        background-color: #252831;
    }
}

@keyframes visualizedNode {
    0% {
        transform: scale(1.5);
        background-color: #f3c069;
    }

    50% {
        transform: scale(0.8);
        background-color: #f2e359;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes visitedNode {
    0% {
        transform: scale(1.5);
        border-radius: 100%;
        background-color: #3e5d72;
    }

    50% {
        transform: scale(0.8);
        background-color: #3c7e65;
    }

    75% {
        background-color: #5f7b8e;
    }

    100% {
        transform: scale(1);
    }
}