.sidebar {
    background-color: #15171c;
    height: 100vh;
    flex: 3;
}

.sidebar-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #e1e9fc;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 12px;
}

.sidebar-item:first-child {
    margin-top: 12px;
}

.sidebar-item:hover {
    background-color: #252831;
}

.strategy-active {
    background-color: #5cc9cb;
}

.event-active {
    background-color: #0f8b6a;
}

.generator-active {
    background-color: #3e5d72;
}

@media screen and (max-width: 1640px) {
    .sidebar-item {
        font-size: 11px;
        padding: 14px;
    }
}