.visualizer {
    display: flex;
    flex-direction: column;
    flex: 14;
}

.visualizer-menu {
    background-color: #15171c;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding-right: 12px;
}

.visualizer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #e1e9fc;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 12px;
    margin-top: 12px;
}

.visualizer-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
}

.visualizer-row {
    display: flex;
}

@media screen and (max-width: 1640px) {
    .visualizer-item {
        font-size: 11px;
        padding: 14px;
    }
}

@media screen and (max-width: 1240px) {
    .visualizer-menu {
        justify-content: center;
        padding: 10px;
    }
    
    .visualizer-item {
        font-size: 14px;
        padding: 18px;
    }

    .visualizer-grid {
        margin: 12px 0 ;
    }

}
